<form [formGroup]="form" (ngSubmit)="calculateTime()">
    <section class="flex-box">
        <mat-form-field style="flex-basis: 25%;">
            <mat-label>Início do jejum</mat-label>
            <input formControlName="start" matInput type="datetime-local">
        </mat-form-field>
        <mat-form-field class="p-left-8">
            <mat-label>Quantas horas de jejum?</mat-label>
            <input formControlName="hours" matInput type="number">
        </mat-form-field>
    </section>
    <div class="w-100 text-right">
        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Calcular</button>
    </div>
</form>

<section class="m-top-16" *ngIf="result">
    <mat-card>
        Você poderá abrir a janela <b>{{result.calendar()}}</b>
        <mat-card-actions align="end">
            <button mat-button (click)="addToList(result)">Adicionar</button>
        </mat-card-actions>
    </mat-card>
</section>

<section class="m-top-16" *ngIf="list && list.length > 0">
    <mat-divider></mat-divider>
    <mat-action-list>
        <div matSubheader>Horários de abertura</div>
        <mat-list-item *ngFor="let item of list; let i = index" [matMenuTriggerFor]="menu">
            <mat-icon matListIcon>restaurant</mat-icon>
            <div matLine>{{item.calendar()}}</div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Adicionar alerta</button>
                <button mat-menu-item (click)="removeFromList(i)">Excluir</button>
            </mat-menu>
        </mat-list-item>
    </mat-action-list>
</section>